//Colours
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light-1: #f7f7f7;


//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizantal: 6rem;

//Font
$default-font-size: 1.6rem;